mitmproxy==10.1.4
PyQt6==6.8.0
numpy<2
elevate==0.1.2
Django==5.0
psycopg2==2.9.9
django-debug-toolbar==4.2.0
django-extensions==3.2.3
pyotp==2.8.0
python-dotenv==1.0.0
Django==5.0.0
requests==2.31.0
websockets==12.0
channels==4.0.0
daphne==4.1.0
cx_Freeze==6.15.0